[{:itonami.blueprint/social-impact [:local-jobs :craft-livelihoods :worker-safety], :itonami.blueprint/domain :trades/textile-leather-handicraft, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger :bpmn], :itonami.blueprint/isco-08 "7318", :itonami.blueprint/name "Independent Textile & Leather Handicraft Practice", :itonami.blueprint/governor :textile-leather-handicraft-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-7318", :itonami.blueprint/license "AGPL-3.0-or-later"}]